



.parent_div{
    font-family: sans-serif;
    background-color: #28323B;
    display: flex;
    flex-wrap: wrap;
    height:450px;
    width: 32.5%;
    padding:40px;
}
.cmn_div{
    text-align: center;
    padding-top:15px;
    font-size: 25px;
    height: 42px;
    width:244px;
}

.sign_up{
    background-color: #539C82;
    color: #E4FFF9;
    
}
.log_in{
    background-color: #475258;
    color:#A3AEB5;
}

.p_tag{
    height: 74px;
    width:487px;
    font-size: 35px;
    text-align: center;
    color:#F5FCFF;
}
.cmn_input{
    height: 70px;
    width:242px;
    display:inline-block;
}
.set_e_p{
    display: block;
    
}
.input{
    background-color: #28323B;
    width: 90%;
    height: 50%;
    border: 2px solid #6C767F;
    
}
::placeholder{
    padding-left: 5px;

    color: #8D98A0;
    font-size: 20px;

}
#button{

    height: 62px;
    width:487px;
    background-color: #52AD8A;
    font-size: 40px;
    font-weight: bold;
    color:#FFFDF9;
}